theme = "onedark"

[editor]
mouse = true
line-number = "relative"
# end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
# cursor-line = "error"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = true

[editor.statusline]
left = ["mode", "spinner", "version-control", "file-modification-indicator", "file-name"]

[editor.lsp]
display-inlay-hints = false
auto-signature-help = false

[keys.normal.space]
i = ":toggle lsp.display-inlay-hints"
# copy current file name to clipboard
"=" = "@\"%p<space>yu"
# show git blame
B = ":sh git log -n 5 --format='format:%%h (%%an: %%ar) %%s' --no-patch -L%{cursor_line},+1:%{buffer_name}"

[keys.normal.space.q]
q = ":toggle inline-diagnostics.cursor-line error disable"
w = ":toggle end-of-line-diagnostics hint disable"
s = ":toggle soft-wrap.enable"
# search and replace
r = [
    ":write-all",
    ":insert-output scooter --no-stdin >/dev/tty",
    ":redraw",
    ":reload-all"
]

[keys.insert]
"C-s" = ":w"
"C-k" = "signature_help"

C-right = "goto_line_end_newline"
C-left = "goto_line_start"

[keys.normal]
esc = ["collapse_selection", "keep_primary_selection"]
X = "extend_line_above"

# duplicate line up
"C-up" = ["extend_to_line_bounds", "yank", "open_above", "normal_mode", "replace_with_yanked", "collapse_selection"] 
# duplicate line down
"C-down" =  ["extend_to_line_bounds", "yank", "open_below", "normal_mode", "replace_with_yanked", "collapse_selection"]

# move line up
S-up = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
# move line down
S-down = ["extend_to_line_bounds", "delete_selection", "paste_after"]

C-right = "goto_line_end_newline"
C-left = "goto_line_start"

# save cmd
"C-s" = ":w"

# opens file picker from current buffer dir
minus = "file_picker_in_current_buffer_directory"

# open git commit
C-k = [
    ":write-all", 
    ":new", 
    ":insert-output lazygit", 
    ":set mouse false", # First disable mouse to hint helix into activating it
    ":set mouse true",
    ":buffer-close!", 
    ":redraw", 
    ":reload-all"
]

# reload buffers
C-r = ":reload-all"

# open yazi file picker
## Zellij
# C-y = ":sh zellij run -c -f -x 10% -y 10% --width 80% --height 80% -- bash ~/.config/helix/yazi-picker.sh open"
## wezterm
C-y = ":sh wezterm cli split-pane --left --percent 30 -- ~/.config/helix/wezilix.sh $WEZTERM_PANE open    zoom > /dev/null"

# scroll a lot
"j" = ["half_page_down", "goto_window_center"]
"k" = ["half_page_up", "goto_window_center"]
